html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  color: var(--secondary-color);
  font-family: 'Roboto Thin', sans-serif;
}

@font-face {
  font-family: 'Euclid Flex';
  src: url('path-to-your-font/EuclidFlex-Regular.woff2') format('woff2'),
       url('path-to-your-font/EuclidFlex-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HK Grotesk-ExtraLight';
  src: url('assets/HKGrotesk_3001/WEB/HKGrotesk-ExtraLight.woff') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk-Regular';
  src: url('assets/HKGrotesk_3001/WEB/HKGrotesk-Regular.woff') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/Montserrat/static/Montserrat-Bold.ttf') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Monserrat-Medium';
  src: url('assets/Montserrat/static/Montserrat-Medium.ttf') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Literata-Light';
  src: url('assets/Literata/static/Literata-Light.ttf') format('woff2');
  font-weight:100;
}

:root {
  --primary-color: rgba(27, 31, 36, 0.8);
  --secondary-color: white;
  --primary-font-size: 1em;
  --secondary-font-size: 2em;
}

/* Hamburger Menu */
.hamburger-menu {
  position: fixed;
  top: 1.25em; /* 20px */
  right: 1.25em; /* 20px */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2em; /* 32px */
  height: 2em; /* 32px */
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.015625em;
  background: var(--secondary-color);
  border-radius: 0.625em;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

/* Navigation Menu */
.nav-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-color);
  height: auto;
  text-align: left;
  overflow-y: auto;
  padding: var(--primary-font-size);
  position: fixed;
  top: 3.75em;
  right: 1.25em;
  transition: transform 0.3s ease-in-out;
  z-index: 9;
  width: auto;
}

.nav-menu a {
  font-size: var(--primary-font-size);
  text-transform: uppercase;
  padding: 0.03125em 0;
  font-weight: bold;
  letter-spacing: 0.03125em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s linear;
}

.nav-menu.active {
  display: flex;
}

/* Header + video */

.header-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("media/landing-video-summer-europe-training-best-opera.mp4") center/cover no-repeat fixed;
  text-align: center;
}

.header-content h2 {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 5.625em;
  color: var(--secondary-color);
  margin-bottom: 0.625em;
}

.additional-text {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: .9em;
  font-weight: 300;
  color: var(--secondary-color);
  letter-spacing: 0;
  margin-bottom: 1.25em;
}

.apply-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3125em;
  font-weight: 300;
  background: transparent;
  color: var(--secondary-color);
  border: 0.0625em solid var(--secondary-color);
  padding: 0.625em 2.375em;
  cursor: pointer;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.video-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*<!-- Panel Section -->*/

.panel {
  background-color: black;
  color: var(--secondary-color);
  padding: 1.25em;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
}

.panel-content {
  /* Sets the display to flex and the direction to column */
  display: flex;
  flex-direction: column;
  font-family: 'HK Grotesk-Extra Light', sans-serif;
  /* Aligns items to the center and justifies content to the center */
  align-items: center;
  justify-content: center;
  /* Sets the font size to 1.25em and the line height to 1.5 */
  font-size: 1.25em;
  line-height: 1.5;
  /* Sets the font weight to 100 */
  font-weight: 100;
  /* Sets the margin to 0 on the top and bottom and 0.625em on the left and right */
  margin: 1em 2em;
  /* Sets the padding to 0.25em on the top and bottom and 0.625em on the left and right */
  padding: 0.25em 2em;
}



.content {
  text-align: left;
  position: absolute;
  top: 38.2%;
  left: 38.2%;
  transform: translate(-50%, -50%);
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  color: var(--secondary-color);
}

.title {
  font-size: 10em;
  font-weight: bold;
}

.main-title {
  font-size: 3em;
}

.composer {
  font-weight: normal;
}

.subtitle {
  font-size: var(--secondary-font-size);
  font-family: 'Roboto Thin', sans-serif;
  font-weight: 100;
  margin-bottom: var(--secondary-font-size);
}

.other-titles {
  padding-top: 1em; /* Adjust this value as needed */
}

/*<!-- Path Selection Section -->*/

.path-panel {
  background-color: rgba(27, 31, 36, 1);
  color: var(--secondary-color);
  padding: 1.25em;
  text-align: center;
  font-family: 'Roboto Thin', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
}

.path-panel h2 {
  text-transform: uppercase;
  font-size: var(--secondary-font-size);
  font-family: 'HK Grotesk Regular', sans-serif;
  font-weight: 200;
}

.image-grid::before,
.image-grid::after {
  content: "";
  width: 1.25em; /* Adjust this to change the left and right margins */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
  gap: 1.25em;
  justify-items: center;
  align-items: center;
  margin: 0 -1.25em; /* Adjust this to change the left and right margins */
}

.image-grid img {
  width: 100%;
  height: 100%; /* Double the height */
  object-fit: cover; /* Cover the entire content box */
  object-position: center; /* Center the image */
}

/* Add this to your existing .image-container class */
.image-container {
  position: relative;
  display: flex; /* Add this */
}

/* Add this new class for the pseudo-element */
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.image-link {
  position: absolute; /* This positions the text relative to the .image-container */
  bottom: 0; /* This aligns the text to the bottom of the .image-container */
  left: 0; /* This aligns the text to the left of the .image-container */
  width: 100%; /* This ensures the text spans the full width of the .image-container */
  text-align: center; /* This centers the text within the .image-container */
  color: white; /* Set the text color to white */
  font-family: 'HK Grotesk ExtraLight', sans-serif;
  font-weight: 200; /* Use the ExtraLight font */
  z-index: 2; /* This ensures the text is above the gradient and the image */
 margin-bottom: 20px; /* Add space at the bottom */
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 14px;
}

/* Who We Are Section */
.who-we-are-panel {
  display: flex;
  justify-content: space-between;
  background-color: black; /* Preserve original color */
  color: var(--secondary-color); /* Preserve original color */
  font-family: 'Roboto Thin', sans-serif; /* Change font family to Roboto Thin */
}

.who-we-are-panel .text-container {
  flex: 0 0 calc(38.2% - 1.25em); /* Subtract the total horizontal margin */
  margin: 0.625em;
  box-sizing: border-box; 
  color: var(--secondary-color); /* Preserve original color */
  padding-left: 1em; /* Add this line to adjust the indent */
  font-size: 1.5em;
}

.who-we-are-panel .image-container {
  flex: 0 0 calc(61.8% - 1.25em); /* Subtract the total horizontal margin */
  margin: 0.625em;
  box-sizing: border-box;
}

.who-we-are-panel .image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Join Us Section */

/* This styles the main container of the Join Us section. */
.join-us-panel {
  background-color: rgba(27, 31, 36, 1); /* Sets the background color to a darker slate grey. */
  color: var(--secondary-color); /* Sets the text color to the secondary color defined elsewhere in your CSS. */
  padding: 1.25em 1.25em 2em; /* Adds padding around the content inside the Join Us section. */
  text-align: center; /* Centers the text horizontally. */
  font-size: 1.5em; /* Sets the font size to 1.5 times the base font size. */
}

/* This styles the links in the Join Us section. */
.join-us-panel a {
  color: var(--secondary-color); /* Sets the link color to the secondary color defined elsewhere in your CSS. */
  text-decoration: none; /* Removes the underline from the links. */
}

/* This styles the grid that contains the categories in the Join Us section. */
.category-grid {
  display: grid; /* Makes the container a grid container. */
  grid-template-columns: repeat(4, 1fr); /* Creates a grid with 4 equal-width columns. */
  gap: 1.25em; /* Sets the gap between grid items to 1.25em. */
}

/* Footer Section */
.footer-panel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* Change this from center to stretch */
  min-height: 30vh;
  padding: 10%; /* Add padding around the boxes */
  box-sizing: border-box;
}

.footer-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Applies to elements with class "info-container" and "right-container" */
.info-container,
.right-container {
  /* Semi-transparent gray background */
  background-color: rgba(27, 31, 36, 0.5);
  /* Padding around the element */
  padding: 1.25em;
  /* Flexbox container with column direction */
  display: flex;
  flex-direction: column;
  /* Align items to the start of the container */
  align-items: flex-start;
  /* Spacing between child elements */
  gap: 0.625em;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
  /* Flex grow factor */
  flex: 1;
  /* Maximum width of the element */
  max-width: calc(50% - 20%); /* Adjust this value to account for padding and gap */
}

.info-container img,
.right-container img {
  width: 100%;
  height: auto;
}

.info-container a,
.right-container a {
  color: var(--secondary-color);
  text-decoration: none;
}

.social-media-icons {
  display: flex;
  gap: 0.625em;
}

.social-media-icons img {
  width: 1.5em;
  height: 1.5em;
}


































/* Singers Page CSS------------------------------- */

/* Header Section---------------- */

.singer-image-container {
  position: relative;
  min-height: 40vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 9.375em;
}

.singer-background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.singer-image-panel {
  background-color: rgb(255, 255, 255, 0);
  color: var(--secondary-color);
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singer-image-title {
  font-family: 'Euclid Flex', sans-serif;
  text-transform: uppercase;
  left: 0;
  font-size: 6.25em;
  font-weight: 1000;
  color: var(--secondary-color);
  margin-bottom: -.90em;
  z-index: 2;
  position: absolute;
  bottom: 100%;
}


.singer-panel {
  background-color: black;
  color: var(--secondary-color);
  height: auto;
  width: 100%;
  padding: 0px; /* Adjust this value as needed */
  padding-bottom: 5em;
  padding-top: 2em;
  position: relative;
  z-index: 1;
  margin-top: -100px;
  text-align: center;
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Season Announement Section---------------- */

.singer-season-announcement{
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  text-transform: uppercase;
  font-size: 3.75em;
  font-weight: 1000;
  color: var(--secondary-color);
  margin-bottom: 1.25em;
  z-index: 3;
  position: relative;
  top: 0;
  left: 0;
}

/* Video Section---------------- */

.inline-video-container {
  position: relative;
  min-height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .singer-image-title {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .singer-image-title {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .singer-image-title {
    font-size: 40px;
  }
  .inline-video-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .singer-image-title {
    font-size: 30px;
  }
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
  .nav-menu {
    width: 40%; /* Reduce the width on larger screens */
  }
}

/* Media query for screens larger than 1200px */
@media (min-width: 1200px) {
  .nav-menu {
    width: 20%; /* Reduce the width even more on very large screens */
  }
}

/* Styles for screens larger than 1200px */
@media screen and (min-width: 1200px) {
  .panel {
      font-size: 24px;
  }

  .apply-button {
      font-size: 22px;
      margin-top: 40px;
      margin-bottom: -20px;
  }
}

/* Styles for screens between 600px and 1200px */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .panel {
      font-size: 20px;
  }

  .apply-button {
      font-size: 18px;
  }
}

/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .panel {
      font-size: 16px;
  }

  .apply-button {
      font-size: 14px;
  }
}
/* Apply Section---------------- */

.apply-section h2 {
  margin: 0 0 35px 0;
  text-transform: uppercase;
  font-size: var(--secondary-font-size);
  font-family: 'HK Grotesk-Regular', sans-serif;
  font-weight: 300;
}

.subheader-text {
  font-family: 'Literata-Light', sans-serif;
}

/* Responsive Design */
@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
  .who-we-are-panel {
      flex-direction: column;
      align-items: center;
  }

  .who-we-are-panel .text-container,
  .who-we-are-panel .image-container {
      margin: 0;
      width: 100%;
  }
}

/*---Google Part 1 Application Form Section----*/

.google-form-section {
  background-color: black; /* make the background black */
  display: flex; /* use flexbox to center the form */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  padding-top: 1em;
  padding-bottom: 1em;
}

.google-form-container iframe {
  display: block; /* block level element */
  margin: 0 auto; /* center horizontally */
}

.tuition-section {
  position: relative;
  display: flex;
  justify-content: flex-end; /* Positions the text on the right */
  background-color: rgba(0, 0, 0, 0.94); /* Sets the background color to black */
}

.tuition-text {
  text-align: left; /* Centers the text */
  font-family: 'HK Grotesk-ExtraLight', sans-serif; /* Sets the font to match the other texts */
  font-size: 25px;
  height: 100%;
  color: white; /* Sets the color to white */
  padding: 50px; /* Adds some space inside the section */
  width: 50%; /* Adjust this value as needed */
  margin-left: 750px; /* Adds margin to the left */
  margin-right: 50px;
}

.tuition-image {
  position: absolute; /* Positions the image absolutely within the tuition-section */
  left: 0; /* Positions the image at the left edge of the tuition-section */
  height: 100%;
  width: 50%; /* Makes the image the same height as the tuition-section */
  object-fit: cover; /* Ensures the image covers the entire space */
}

.scholarship-section {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the items */
    background-color: rgba(0, 0, 0, 0.94);
}

.scholarship-text {
    font-family: 'HK Grotesk-ExtraLight', sans-serif;
    font-size: 25px;
    color: white;
    padding: 50px;
    width: 50%; /* Adjust this value as needed */
}

.scholarship-image {
    height: 100%;
    width: 50%; /* Adjust this value as needed */
    padding-bottom: -100px;
    object-fit: cover;
}
.apply-section {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the items */
    background-color: rgba(0, 0, 0, 0.94);
}

.apply-text {
    font-family: 'HK Grotesk-ExtraLight', sans-serif;
    font-size: 25px;
    color: white;
    padding: 50px;
    margin-right: -100px;
    width: 50%; /* Adjust this value as needed */
    box-sizing: border-box;
}

.apply-image {
    height: 100%;
    width: 50%; /* Adjust this value as needed */
    object-fit: cover;
    box-sizing: border-box;
}

.festival-section {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the items */
    background-color: rgba(0, 0, 0, 0.94);
}

.festival-text {
    font-family: 'HK Grotesk-ExtraLight', sans-serif;
    font-size: 25px;
    color: white;
    padding: 50px;
    width: 50%; /* Adjust this value as needed */
    box-sizing: border-box;
}

.festival-image {
    height: 100%;
    width: 50%; /* Adjust this value as needed */
    object-fit: cover;
    box-sizing: border-box;
}

.BOA {
    font-size: 40px; /* Adjust this value as needed */
}

.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    padding-top: 20px; /* Adds some space above the button */
}

.apply-festival-button {
    font-size: 20px; /* Makes the text a bit bigger */
    padding: 10px 140px; /* Adds some space inside the button */
}

.studio-section {
  display: flex;
  justify-content: space-between; /* Distributes space evenly between the items */
  background-color: rgba(0, 0, 0, 0.94);
  min-height: 500px; /* Adjust this value as needed */
}


.studio-text {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 25px;
  color: white;
  padding: 50px;
  width: 50%; /* Adjust this value as needed */
  box-sizing: border-box;
}

.studio-image {
  height: 100%;
  width: 50%; /* Adjust this value as needed */
  object-fit: cover;
  box-sizing: border-box;
  min-height: 500px; /* Adjust this value as needed */
}

.FOV {
  font-size: 40px; /* Adjust this value as needed */
}

.button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  padding-top: 20px; /* Adds some space above the button */
}

.apply-studio-button {
  font-size: 20px; /* Makes the text a bit bigger */
  padding: 10px 140px; /* Adds some space inside the button */
}

.contact-section {
  position:relative;
    background-image: url(media/hands-berlin-opera-academy-singers-learn-the-skills-you-need-to-succeed-in-the-21st-century-of-opera-at-boa.jpg); /* Replace with the path to your image */
    background-size: cover; /* Makes the image cover the entire section */
    background-position: center; /* Centers the image */
    height: 1200px; /* Set a height for the section */
}

.join-us {
  position: relative; /* Positions the text relative to the .contact-section */
  text-align: center; /* Centers the text */
  font-size: 50px; /* Adjust this value as needed */
  padding: 20px 0; /* Adds some space above and below the text */
  font-weight: bold
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
}

.square-container {
  display: flex;
  justify-content: space-around; /* Distributes space evenly between the squares */
  padding: 20px; /* Adds some space around the squares */
  margin: auto;
}

.grey-square {
  width: 400px; /* Adjust this value as needed */
  height: 600px; /* Adjust this value as needed */
  background-color: rgba(128,128,128,0.5);
}

.custom-button {
  display: block; /* Makes the text stack vertically */
  width: 100%; /* Makes the text fill the width of the .grey-square */
  padding: 10px; /* Adds some space inside the text */
  margin-bottom: 10px; /* Adds some space below the text */
  background-color: transparent; /* Makes the background transparent */
  border: none; /* Removes the default button border */
  text-align: center; /* Centers the text */
  color: white; /* Makes the text white */
  cursor: pointer; /* Changes the cursor when hovering over the text */
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.custom-button:first-child {
  margin-top: auto; /* Adds space above the first button */
}

.custom-button:last-child {
  margin-bottom: auto; /* Adds space below the last button */
}