html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* Hamburger Menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

/* Navigation Menu */
.nav-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #1F3D3D;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 9;
}

.nav-menu a {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s linear;
}

.nav-menu.active {
  display: flex;
}

/* Header + video */

.header-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("media/landing-video-summer-europe-training-best-opera.mp4") center/cover no-repeat fixed;
  text-align: center;
}

.header-content h2 {
  font-family: 'Euclid Flex', sans-serif;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 90px;
  color: white;
  margin-bottom: 10px;
}

.additional-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: white;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.apply-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 300;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.video-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*<!-- Panel Section -->*/

.panel {
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  box-sizing: border-box; /* Add this line */
}

.panel-content { /* Add this class */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for screens larger than 1200px */
@media screen and (min-width: 1200px) {
  .panel {
      font-size: 24px;
  }

  .apply-button {
      font-size: 22px;
  }
}

/* Styles for screens between 600px and 1200px */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .panel {
      font-size: 20px;
  }

  .apply-button {
      font-size: 18px;
  }
}

/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .panel {
      font-size: 16px;
  }

  .apply-button {
      font-size: 14px;
  }
}

.content {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Euclid Flex', sans-serif;
  color: white;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.subtitle {
  font-size: 1em;
  font-weight: light;
}

/*<!-- Path Selection Section -->*/

.path-panel {
  background-color: #1F3D3D; /* Darker slate grey */
  color: white;
  padding: 20px;
  text-align: center;
}

.path-panel h2 {
  text-transform: uppercase;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.image-grid img {
  width: 100%;
  height: auto;
}

.image-container {
    position: relative;
}

.image-link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Who We Are Section */
.who-we-are-panel {
  display: flex;
  justify-content: space-between;
  background-color: black; /* Preserve original color */
  color: white; /* Preserve original color */
}

.who-we-are-panel .text-container {
  flex: 0 0 calc(38.2% - 20px); /* Subtract the total horizontal margin */
  margin: 10px;
  box-sizing: border-box; /* Add this line */
  color: white; /* Preserve original color */
}

.who-we-are-panel .image-container {
  flex: 0 0 calc(61.8% - 20px); /* Subtract the total horizontal margin */
  margin: 10px;
  box-sizing: border-box; /* Add this line */
}

.who-we-are-panel .image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Responsive Design */
@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
  .who-we-are-panel {
      flex-direction: column;
      align-items: center;
  }

  .who-we-are-panel .text-container,
  .who-we-are-panel .image-container {
      margin: 0;
      width: 100%;
  }
}

/* Join Us Section */

.join-us-panel {
  background-color: #1F3D3D; /* Darker slate grey */
  color: white;
  padding: 20px;
  text-align: center;
}

.join-us-panel a {
  color: white;
  text-decoration: none;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Footer Section */
.footer-panel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* Change this from center to stretch */
  min-height: 30vh;
  padding: 10%; /* Add padding around the boxes */
  box-sizing: border-box;
}

.footer-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.info-container,
.right-container {
  background-color: rgba(128, 128, 128, 0.5); /* Semi-transparent gray */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  flex: 1; /* Add this line */
  max-width: calc(50% - 20%); /* Adjust this value to account for padding and gap */
}

.info-container img,
.right-container img {
  width: 100%;
  height: auto;
}

.info-container a,
.right-container a {
  color: white;
  text-decoration: none;
}

.social-media-icons {
  display: flex;
  gap: 10px;
}

.social-media-icons img {
  width: 24px;
  height: 24px;
}

/* Singers Page CSS */
.singer-image-container {
  position: relative;
  min-height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 150px;
}

.singer-background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.singer-image-panel {
  background-color: black;
  color: white;
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singer-image-title {
  font-family: 'Euclid Flex', sans-serif;
  text-transform: uppercase;
  left: 0;
  font-size: 100px;
  font-weight: 1000;
  color: white;
  margin-bottom: -20px;
  z-index: 2;
  position: absolute;
  bottom: 100%;
}

.singer-panel {
  background-color: black;
  color: white;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singer-season-announcement{
  font-family: 'Euclid Flex', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 1000;
  color: white;
  margin-bottom: 20px;
  z-index: 3;
  position: relative;
  top: 0;
  left: 0;

}

.inline-video-container {
  position: relative;
  min-height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .singer-image-title {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .singer-image-title {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .singer-image-title {
    font-size: 40px;
  }
  .inline-video-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .singer-image-title {
    font-size: 30px;
  }
}