html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--secondary-color);
  font-family: 'HK Grotesk-ExtraLight', sans-serif; /* Change font to HK Grotesk */
}

:root {
  --primary-color: rgba(27, 31, 36, 0.8);
  --secondary-color: white;
  --primary-font-size: 1em;
  --secondary-font-size: 2em;
}

@font-face {
  font-family: 'Euclid Flex';
  src: url('assets/EuclidFlex/EuclidFlex-Medium/fonts/EuclidFlex-Medium.woff2') format('woff2'),
       url('assets/EuclidFlex/EuclidFlex-Medium/fonts/EuclidFlex-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Flex Bold';
  src: url('assets/EuclidFlex/EuclidFlex-Bold/fonts/EuclidFlex-Bold.woff2') format('woff2'),
       url('assets/EuclidFlex/EuclidFlex-Bold/fonts/EuclidFlex-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk-ExtraLight';
  src: url('assets/HKGrotesk_3001/WEB/HKGrotesk-ExtraLight.woff') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk-Regular';
  src: url('assets/HKGrotesk_3001/WEB/HKGrotesk-Regular.woff') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HK Bold';
  src: url('assets/HKGrotesk_3001/WEB/HKGrotesk-Bold.woff2') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HK Medium Bold';
  src: url('assets/HKGrotesk_3001/WEB/HKGrotesk-SemiBold.woff2') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HK Italic';
  src: url('assets/HKGrotesk_3001/WEB/HKGrotesk-ExtraLightItalic.woff2') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/Montserrat/static/Montserrat-Bold.ttf') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Monserrat-Medium';
  src: url('assets/Montserrat/static/Montserrat-Medium.ttf') format('woff2');
  font-weight:100;
}

@font-face {
  font-family: 'Literata-Light';
  src: url('assets/Literata/static/Literata-Light.ttf') format('woff2');
  font-weight:100;
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}

.home-link {
  background-image: url('media/boa_logo_square_white.png');
  background-size: 120px 100px; /* Set the size of the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: top left; /* Position the background image in the top left */
  height: 100px; /* Set the height of the container */
  width: 120px; /* Set the width of the container */
  position: absolute; /* Position the container absolutely */
  margin: 10px 0 0 10px;
  cursor: pointer;
  top: 0; /* Align the container to the top */
  left: 0; /* Align the container to the left */
  z-index: 10; /* Remove the z-index property */
}

.header-logo {
  position: absolute;
  top: 20px;
  /* adjust as needed */
  left: 20px;
  /* adjust as needed */
  color: white;
  font-size: 30px;
  /* adjust as needed */
  font-weight: bold;
  /* adjust as needed */
  font-family: 'Euclid Flex', sans-serif;
  letter-spacing: 2px;
  opacity: 0.9;
  z-index: 10;
}

.header-logo a {
  color: inherit;
  /* make the link color the same as the parent */
  text-decoration: none;
  /* remove underline */
  transition: color 0.3s ease, transform 0.3s ease;
  /* add this line */
}

.header-logo a:hover {
  color: hotpink;
  /* change color on hover */
  transform: scale(1.1);
  /* add swell effect on hover */
}

/* Hamburger Menu */
.hamburger-menu {
  position: fixed;
  top: 1.25em; /* 20px */
  right: 1.25em; /* 20px */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2em; /* 32px */
  height: 2em; /* 32px */
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem; /* Adjusted for visibility */
  background: var(--secondary-color);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger-menu.open div:nth-child(1) {
  transform: rotate(45deg) translate(0px, -5px);
}

.hamburger-menu.open div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, 0px);
}

/* Navigation Menu */
.nav-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-color);
  height: auto;
  text-align: left;
  overflow-y: auto;
  padding: var(--primary-font-size);
  position: fixed;
  top: 3.75em;
  right: 1.25em;
  transition: transform 0.3s ease-in-out;
  z-index: 9;
  width: auto;
  font-size: 1.5em;
}

.nav-menu a {
  font-size: var(--primary-font-size);
  text-transform: uppercase;
  padding: 0.03125em 0;
  font-weight: bold;
  letter-spacing: 0.03125em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s linear;
  
  /* Add your new styles here */
  font-family: 'HK Grotesk-ExtraLight', sans-serif; /* Replace 'Your Font' with the name of your font */
  line-height: 1.5; /* Adjust as needed */
}

.nav-menu.active {
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    margin-right: 10px !important; /* Adjust as needed */
  }
}



/* Header + video */

.header-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevents spillover */
}

.header-content h2 {
  font-family: 'Euclid Flex', sans-serif;
  font-size: 2.8125em;
  font-weight: 500;
  letter-spacing: 2em;
  color: var(--secondary-color);
  margin-bottom: 0.625em;
}

.header-content h3 {
  font-family: 'HK Grotesk-Regular', sans-serif;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 2em;
  color: var(--secondary-color);
  margin-bottom: 0.625em;
}

#orchestra-header::after, #apprentice-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
  pointer-events: none; 
  z-index: 1;
}

#apprentice-header::after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3), transparent);
}

#apprentice-advert {
  padding: 0;
}

#apprentice-advert .panel-content {
  flex: 1;
  max-width: none;
}

#apprentice-advert .panel-image {
  align-self: flex-start;
  justify-content: flex-end;
  flex: 0.5;
}

#apprentice-advert img {
  object-fit: cover;
  min-height: 300px;
  max-height: 350px;
  filter: grayscale();
}

@media screen and (max-width: 600px) {
  #apprentice-advert {
    padding: 1rem;
  }

  #apprentice-advert p {
    font-size: .8em;
  }

  #apprentice-advert .panel-image {
    align-self: center;
    justify-content: center;
    padding-top: 2rem;
    max-height: 100%;
  }
  
  #apprentice-advert img {
    object-fit: cover;
    width: 90vw;
    max-height: 300px;

  }
}

#header-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Change this */
  height: 100%; /* Change this */
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}


@media screen and (max-width: 600px) {
  #header-video {
    width: 100%; /* Set width to 100% */
    height: auto; /* Set height to auto */
  }
  .header-content h2 {
    font-size: 1.5em; /* Adjust as needed */
  }
  .header-content h3 {
    font-size: 1.2em; /* Adjust as needed */
  }
  .apply-button {
    padding: 0.625em 1.5em; /* Adjust as needed */
    font-size: 1rem; /* Adjust as needed */
  }

  .header-logo {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 75vh; /* Adjust as needed for mobile */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align children to the bottom */
  }

  .header-img-container{
    height: 75vh
  }

  .content {
    font-family: 'Euclid Flex', sans-serif;
    color: var(--secondary-color);
    white-space: normal;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .video-container {
    height: 75vh; /* Adjust as needed for mobile */
  }

  .title {
    font-size: 7rem;
    white-space: normal;
    margin: 0;
    line-height: 1.2em;
  }
}


.additional-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4375em;
  font-weight: 300;
  color: var(--secondary-color);
  letter-spacing: 0;
  margin-bottom: 1.25em;
}

.apply-button {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  background: transparent;
  color: var(--secondary-color);
  border: 0.0625em solid var(--secondary-color);
  padding: 0.625em 2.375em;
  cursor: pointer;
  transition: transform 0.5s ease-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* adjust as needed */
}

.panel .apply-button {
  font-size: 1.3rem; /* Adjust as needed */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.apply-button:hover {
  transform: scale(1.1); /* adjust as needed */
  color: hotpink;
  border-color: hotpink;
}

background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Change this */
  height: 100%; /* Change this */
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.header {
  position: relative; /* Ensure this is a positioning context */
  height: 80vh; /* Match the height of the header-img-container */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Euclid Flex', sans-serif;
  color: var(--secondary-color);
}

.title {
  font-family: 'Euclid Flex', sans-serif;
  font-size: 8rem;
  letter-spacing: 0.1em;
  line-height: 90%;
  margin: 0;
}

.header-img-container {
  position: relative;
  width: 100%;
  height: 80vh; /* This will make the container take up the full height of the viewport */
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .header {
    height: 75vh; /* Adjust as needed for mobile */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align children to the bottom */
  }

  .header-img-container{
    height: 75vh
  }

  .content {
    font-family: 'Euclid Flex', sans-serif;
    color: var(--secondary-color);
    white-space: normal;
    justify-content: flex-end;
    margin: 0;
  }

  .video-container {
    height: 75vh; /* Adjust as needed for mobile */
  }

  .title {
    font-size: 4rem;
    white-space: normal;
    word-break: break-all;
    margin: 0;
    line-height: 90%;
  }

  #apprentice-title, #orchestra-title {
    font-size: 5rem;
  }

  #full-time-info .panel-content {
    font-size: 1.2em;
  }
}

#apply-form iframe{
  width: 80%;
}

/*<!-- Panel Section -->*/

.panel {
  background-color: black;
  color: var(--secondary-color);
  padding: 1.25em;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
}

.panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: 50;
  margin: 1em 2em;
  padding: 0.25em 1em;
}

.panel-content li {
  list-style: none;
}

.info-card-container {
  display: flex;
  align-self: center;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.info-image {
  padding: 0 !important;
}

.info-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1.5px white solid;
  padding: 1rem;
  max-width: 320px;
  background: rgba(0, 0, 0, 0.6);
  text-align: left;
}

.info-card h4 {
  font-family: 'HK Bold';
}

.info-card h4, .info-card p {
  margin: 0;
}

.panel-content a {
  transition: color .3s ease;
}

.panel-content a:hover {
  color: hotpink;
}

.HK-Bold {
  font-family: "HK Bold";
}

strong {
  font-family: "HK Medium Bold";
}

em {
  font-family: "HK Italic";
}

.shrink-text {
  font-size: .8em;
}

#productions {
  align-items: flex-start;
}

#productions h1{
  margin: 0;
}

#productions h1:first-of-type {
  margin-bottom: 0.5em;
  font-size: 2em;
  font-family: "HK Bold";
  color: #eee;
}

#productions h1:last-of-type{
  margin-bottom: 1em;
}

#apprentice-role-info img, #apprentice-roles img {
  filter: grayscale(100%);
  width: clamp(300px, 500px, 600px);
  height: 400px;
  margin: 2rem;
  object-fit: cover;
}

#apprentice-responsibilities ul, #apprentice-responsibilities li {
  list-style-type: disc;
}

#faculty-panel, #apprentice-role-info {
  margin-top: 4rem;
}

#faculty-panel p {
  font-size: 1rem;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

#faculty-panel a {
  text-decoration: underline;
}

#faculty-panel .panel-content, #faculty-panel .panel-content p {
  margin-bottom: 0;
}

#faculty-image img{
  max-width: 300px;
  max-height: 300px;
}

.main-title {
  font-size: 1em;
}

.composer {
  font-weight: normal;
}

.subtitle {
  font-size: var(--secondary-font-size);
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-weight: 100;
  margin-bottom: var(--secondary-font-size);
}

.other-titles {
  padding-top: 1em;
}

#align-left {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 50%;
}

.half-flex {
  display: flex;
  align-items: stretch; /* Ensure children stretch to fill the container's height */
}

.half-flex .panel-image {
  flex: 1; /* Allow the image container to grow and fill the available space */
  display: flex; /* Make it a flex container to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  background-color: black; /* Black padding around the image */
}

.half-flex .panel-image img {
  max-width: 100%;
  max-height: 600px;
  object-fit: contain; /* Scale the image to fit without warping, adding black padding as needed */
}

#align-left .apply-button-container{
  align-self: center;
}

.schedule-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

#apply-info .panel-content, #apply-info h1 {
  margin-top: 0;
}

#apply-info .panel-content{
  margin: 1rem 0 0 0;
}

#apply-info .apply-info-steps-container {
  text-align: left;
}

#faq-selection .panel-content {
  width: 80vw;
}

.faq p {
  margin: 0;
  font-size: .7em;
}

.faq h1 {
  margin: 0;
}

.faq .question {
  font-family: "HK Bold";
  margin-top: 1rem;
}

.faq img {
  max-height: 100% !important;
}

#festival-info {
  padding-left: 0;
  padding-right: 0;
}

#festival-info .half-flex, #festival-info .panel-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tuition-scholarship p, #tuition-scholarship h1 {
  margin: 0;
}

#tuition-scholarship p {
  font-size: .8em;
}

#tuition-scholarship {
  background-image: url('media/BOA-Opernfest2024_Zauberflöte3-5Aug24_(c)Opernfotografie-DetlefKurth_DSC00040-crop.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100%; /* Adjust height as needed */
    width: 100%;
    position: relative;
    color: white; /* Text color */
}

#orchestra-schedule {
  background-image: url('media/flute-fire-berlin-opera-academy-apprentices-develop-your-career-in-opera-production-and-management-at-boa.jpg');
    background-size: cover;
    background-position: right;
    height: 100%; /* Adjust height as needed */
    width: 100%;
    position: relative;
    color: white; /* Text color */
}

#full-time-schedule {
  background-image: url('media/BOA-Opernfest2024_Zauberflöte1-3Aug24_(c)Opernfotografie-DetlefKurth_DSC07954web.jpg');
    background-size: cover;
    background-position: center;
    height: 100%; /* Adjust height as needed */
    width: 100%;
    position: relative;
    color: white; /* Text color */
}

#full-time-info {
  background-image: url('media/flutezauberflötetitatic.jpg');
    background-size: cover;
    background-position: top;
    height: 100%; /* Adjust height as needed */
    width: 100%;
    position: relative;
    color: white; /* Text color */
}

#full-time-description {
  background-color: rgba(27, 31, 36, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#full-time-description .info-card-container {
  gap: 25px;
  flex: 1 1 200px;
}

#full-time-description .info-card {
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
}

a {
  transition: color .3s ease;
}
a:hover {
  color: hotpink;
}

#donor-info{
  background-image: url('media/flute-fire-berlin-opera-academy-apprentices-develop-your-career-in-opera-production-and-management-at-boa.JPG');
  background-size: cover;
  background-position: center;
  height: 100%; /* Adjust height as needed */
  width: 100%;
  position: relative;
  color: white; /* Text color */
}

#faq-selection{
  background-image: url('media/BOA-Opernfest2024_Zauberflöte1-3Aug24_(c)Opernfotografie-DetlefKurth_DSC00006.orchestra_summer_program_europe_web.jpg');
  background-size: cover;
  background-position: center;
  height: 100%; /* Adjust height as needed */
  width: 100%;
  position: relative;
  color: white; /* Text color */
  box-shadow: inset 0px 45px 20px black;
}

.faq .panel-content ul, .faq .panel-content li{
  list-style: none !important;
}

.faq .panel-content {
  gap: 0 !important;
}

.gradient .panel-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent 10%, black 100%);
  pointer-events: none; /* Ensure the pseudo-element does not interfere with user interactions */
  z-index: -1;
}

.gradient .panel-content {

  text-align: left;
  align-items: flex-start;
  justify-content: left;
  gap: 25px;
}

.gradient .panel-content h3, .gradient .panel-content h1, .gradient .panel-content p  {
  margin: 0;
  padding: 0;
}

.gradient .panel-content h1 {
  font-family: "HK Bold";
  letter-spacing: .1em;
}

.gradient .panel-content ul {
  width: 50%;
}

.gradient .panel-content li {
  list-style: disc;
}

.background-flex {
  display: flex;
  position: relative;
}

.background-panel-img {
  position: relative;
  width: 100%;
  height: 100%; /* Ensure the parent div takes the full height */
}

.background-panel-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
  pointer-events: none; /* Ensure the pseudo-element does not interfere with user interactions */
}

.background-panel-img img {
  width: 100%; /* Ensure the image takes the full width of the parent */
  height: 100%; /* Ensure the image takes the full height of the parent */
  object-fit: contain; /* Ensure the image covers the entire area without distortion */
}

.foreground {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  align-items: flex-start;
  justify-content: left;
  gap: 25px;
}

.foreground h3, .foreground h1 {
  margin: 0;
  padding: 0;
}

.foreground h1 {
  font-family: "HK Bold";
  letter-spacing: .1em;
}

.foreground ul {
  width: 50%;
}

.foreground li {
  list-style: disc;
}

/* Style for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .panel-content {
    margin: 0;
    padding: 0;
  }
  
  #align-left {
    max-width: 100%;
  }

  #align-left .apply-button-container {
    align-self: center;
  }

  .half-flex {
    flex-direction: column;
  }

  .background-flex {
    display: block; /* Change to block to stack elements vertically */
  }

  .infographic{
    flex-direction: column;
  }
  
  .info-card-container {
    flex-direction: column;
    gap: 25px;
  }

  .info-card {
    max-width: 80vw;
    align-self: center;
  }

  .info-block img{
    width: 94vw;
  }

  .info-block:nth-of-type(2){
    margin-top: -2em;
  }

  #productions {
    align-items: flex-start;
    text-align: left;
  }
  
  #productions h1{
    margin: 0;
  }
  
  #productions h1:first-of-type {
    margin-bottom: 0.5em;
    font-size: 2em;
    font-family: "HK Bold";
    color: #eee;
  }
  
  #productions h1:last-of-type{
    margin-bottom: 1em;
  }

  #productions .apply-button-container {
    align-self: center;
  }

  .background-panel-img {
    width: 100%;
    height: auto; /* Allow the height to adjust based on the image aspect ratio */
  }

  .background-panel-img::after {
    display: none; /* Remove the gradient */
  }

  .background-panel-img img {
    width: 100%; /* Ensure the image takes the full width of the parent */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image covers the entire area without distortion */
  }

  .gradient .panel-content::after {
    background: linear-gradient(to left, transparent 0%, black 100%);
  }

  .gradient .panel-content {
    display: flex; /* Change to block to stack elements vertically */
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    gap: 25px;
  }

  .foreground h3, .foreground h1,
  .gradient .panel-content h3, .gradient .panel-content h1, .gradient .panel-content p {
    margin: 0 0 0 .5rem;
    padding: 0;
  }
  
  .foreground h1,
  .gradient .panel-content h1 {
    font-family: "HK Bold";
    letter-spacing: .1em;
  }
  
  .foreground ul, 
  .gradient .panel-content ul {
    width: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 2rem;
    overflow: hidden;
  }

  .foreground .apply-button-container, 
  .gradient .panel-content .apply-button-container {
    align-self: center;
  }

  #apply-form iframe{
    width: 100%;
  }

  .faq:first-of-type h1 {
    margin: .5em 0 0 0;
  }

  .faq:first-of-type ul {
    padding: 0;
  }

  .faq:first-of-type li {
    font-size: 1.3em;
    text-decoration: underline;
  }

  .faq .half-flex .panel-image {
    order: 2;
    margin-top: 2em;
  } 

  #apprentice-roles li {
    font-size: 1.2em;
    text-decoration: underline;
  }

  .employment-position {
    text-decoration: none !important;
  }
}

.apply-button {
  min-width: 100px; /* Adjust as needed */
  white-space: nowrap; /* Prevents the text from wrapping */
}

@media screen and (max-width: 600px) {
  .apply-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/* Path Selection Section */

.path-panel {
  background-color: rgba(27, 31, 36, 1);
  color: var(--secondary-color);
  padding: 2em 2em;
  text-align: center;
  font-family: 'HK Grotesk-Regular', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}

.path-panel h2 {
  margin: 0 0 35px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: var(--secondary-font-size);
  font-family: 'HK Grotesk-Regular', sans-serif;
  font-weight: 300;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%; /* Add this line */
}

.info-cards .info-grid {
  display: grid;
  column-gap: 25px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.info-cards .info-wrapper {
  display: grid;
  max-width: 500px;
  grid-template-rows: 6fr 1fr;
  width: 100%;
}

.info-cards .info-wrapper:nth-of-type(1) {
  justify-self: end;
}

.info-cards .info-wrapper:nth-of-type(2) {
  justify-self: start;
}

.info-cards .info-footer {
  background-color: white;
}

.info-cards #performance-info {
  background-image: url('media/BOA-Opernfest2024_Le-nozze-di-Figaro1-9Aug24_(c)Opernfotografie-DetlefKurth_DSC00065-crop.jpg');
}

.info-cards #practical-info {
  background-image: url('media/opera_study_europe_training_operasinger-crop.jpg');
  background-position: right;
}

.info-cards #audition-career-info {
  background-image: url('media/carmen-berlin-opera-academy-application-how-to-apply-and-what-to-expect-from-boa.jpeg');
}

.info-cards #stage-training-info {
  background-image: url('media/portait-singer-dark-summer-performance-opera-singer.jpg');
}

.info-cards #language-immersion-info {
  background-image: url('media/fleder2.JPG');
}

.info-cards .info-content {
  background-size: cover;
  background-position: center;
  height: 100%; /* Adjust height as needed */
  width: 100%;
  position: relative;
  color: white; /* Text color */
}

.info-cards .info-content ul{
  position: relative;
  z-index: 3;
  margin: 2rem 0 4rem 0;
}

.info-cards .info-content li {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  margin: 1.2rem 0;
  text-align: left;
  list-style-type: square;
  font-size: .9em;
}

.info-cards .info-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, .5);
  pointer-events: none; 
  z-index: 1;
}

#performance-info::after, #practical-info::after {
  background: linear-gradient(to right, rgba(0, 0, 0, .7), transparent);
}

.info-cards .info-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info-cards .info-footer h1 {
  margin: 0 0 0 1rem;
  color: black;
  font-family: "HK Bold";
  font-size: 1.2em;
}

.info-cards .info-text {
  position: relative;
  z-index: 3;
  font-size: .8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info-cards .info-text h1 {
  margin-bottom: 0;
}

.info-cards .info-text p {
  margin: 0 10px 10px 10px;
  font-family: "HK Grotesk-ExtraLight";
}

#full-time-info-cards .info-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

#full-time-info-cards .info-content {
  min-height: 350px;
}

@media screen and (max-width: 600px) {
  .info-cards .info-grid {
    grid-template-columns: 1fr !important;
    row-gap: 20px;
  }

  .info-cards .info-footer h1 {
    font-size: .8em;
  }
}


@media screen and (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
  
  #path-header {
    font-size: 1em;
    font-weight: 800;
  }
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#fest {
  grid-column: 2 / 3;
}

#studio {
  grid-column: 3 / 4;
}

.singer-info-images .subtitle {
  font-size: 1em !important;
}

.image-container {
  position: relative; /* Ensure the container is the reference point for absolute positioning */
  max-height: 375px;
  box-shadow: 9px 13px 18px black;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Set a lower z-index to ensure it is behind the text */
}

.image-link {
  position: absolute;
  top: 1rem;
  margin: 0 1rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2; /* Ensure this is higher than the ::after pseudo-element */
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.image-link .title,
.image-link .subtitle {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  color: white;
  text-align: center;
  z-index: 3; /* Ensure this is higher than the ::after pseudo-element */
  position: relative;
  width: 100%;
}

.image-link .title {
  font-size: 1.2em !important;
  text-transform: uppercase;
}

.image-link .subtitle {
  font-size: 0.85em;
}


/* Existing styles */

.image-container {
  position: relative;
  width: 100%; /* This makes each image take up the full width of the grid cell */
}

/* New media query for smaller screens */
@media screen and (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr; /* 1 column on smaller screens */
    grid-template-rows: 1fr 1fr 1fr;
    max-height: max-content;
  }
}
/* Who We Are Section -----------------------------------------*/
.who-we-are-panel {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: black; /* Preserve original color */
  color: var(--secondary-color); /* Preserve original color */
  border: none;
  padding: 0;
}
.who-we-are-panel .text-container {
  flex: 0 0 calc(38.2% - 1.25em); /* Subtract the total horizontal margin */
  margin: 0.625em;
  box-sizing: border-box; 
  color: var(--secondary-color); /* Preserve original color */
  padding-left: 1em; /* Add this line to adjust the indent */
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 1.25em; 
  padding-left: 50px; /* Adjust as needed */
  padding-top: 50px; /* Adjust as needed */
  padding-bottom:50px;
  padding-right:50px;
  margin: 0.625em;
  overflow: auto; /* Add a scrollbar if the content is too large */
  max-height: 100%; /* Limit the height */
}

.who-we-are-panel .text-container .apply-button {
  width: auto; /* Let the button size itself based on its content */
  padding: 20px; /* Adjust as needed */
  margin: 0; /* Remove any margin */
  position: relative; /* Position the button relative to its container */
  transition: transform 0.5s ease-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* adjust as needed */
}

.panel .apply-button {
  font-size: 1.3rem; /* Adjust as needed */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.no-bold {
  font-weight: 300;
}

.apply-button:hover {
  transform: scale(1.1); /* adjust as needed */
  color: hotpink;
  border-color: hotpink;
}

@media screen and (min-width: 601px) and (max-width: 980px) {
  .who-we-are-panel .text-container {
    margin: 0.3125em; /* Adjust as needed */
  }
}

@media screen and (max-width: 600px) {
  .who-we-are-panel .text-container {
    text-align: center;
    flex: 0 0 100%;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0; /* Remove the margin */
  }

  .who-we-are-panel .image-container {
    flex: 0 0 calc(70% - 1.25em); /* Increase the flex basis */
    height: 100%;
  }
}

.who-we-are-panel .image-container img {
  width: 100%;
  height: 100%; /* Change this line */
  object-fit: cover;
}


/* New media query for iPad screen sizes */
@media screen and (min-width: 601px) and (max-width: 1024px) { /* iPad screen sizes */
  .who-we-are-panel .text-container .button-class-name {
    padding-right: 10px; /* Reduce the right padding */
    margin-right: 10px; /* Reduce the right margin */
  }
}

@media screen and (min-width: 601px) {
  .who-we-are-panel .image-container {
    flex: 0 0 calc(61.8% - 1.25em); /* Subtract the total horizontal margin */
  }
}

@media screen and (max-width: 600px) {
  .who-we-are-panel .image-container {
    flex: 0 0 calc(90% - 1.25em); /* Increase the flex basis */
    max-width: 100%; /* Limit the width */
    height: auto; /* Maintain the aspect ratio */
  }
}

@media screen and (max-width: 600px) {
  .who-we-are-panel {
    flex-direction: column;
    align-items: center;
  }

  .who-we-are-panel .text-container,
  .who-we-are-panel .image-container {
    flex: 0 0 100%;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .who-we-are-panel .text-container .apply-button {
    display: block;
    margin: auto;
    font-size: 17px; /* adjust as needed */
  padding: 10px 20px; /* adjust as needed */
  width: auto; /* adjust as needed */
  }
}

/* Style for the title text */
.who-we-are-panel .text-container h3 {
  font-family: 'HK Grotesk-Regular', sans-serif !important;
  font-size: 2em;
}

/* Style for the body/intro text */
.intro-text {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 1.25em;
}

.who-we-are-panel .image-container {
  flex: 0 0 calc(61.8% - 1.25em); /* Subtract the total horizontal margin */
  height: 100%;
}
.who-we-are-panel .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Java Script slides text/font info */
.slide-title {
  font-family: 'HK Grotesk-Regular', sans-serif;
  font-size: 1.5em;
}

.slide-body {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  font-size: 1em; /* Change this to your desired font size */
}
.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

.invisible {
  opacity: 0;
}

fade-in-button {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-button.fade-in {
  opacity: 1;
}

/* Join Us Section */

/* This styles the main container of the Join Us section. */
.join-us-panel {
  background-color: rgba(27, 31, 36, 1);
  color: var(--secondary-color);
  padding: 0.5em 1.25em 1em;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* This styles the links in the Join Us section. */
.join-us-panel a {
  text-decoration: none; /* Removes the underline from the links. */
}

/* This styles the grid that contains the categories in the Join Us section. */
.category-grid {
  display: grid; /* Makes the container a grid container. */
  grid-template-columns: repeat(4, 1fr); /* Creates a grid with 4 equal-width columns. */
  gap: 1.25em; /* Sets the gap between grid items to 1.25em. */
}

@media screen and (max-width: 600px) {
  .category-grid {
    grid-template-columns: 1fr; /* 1 column on smaller screens */
  }
}

.category-grid {
  display: grid; /* Makes the container a grid container. */
  grid-template-columns: repeat(4, 1fr); /* Creates a grid with 4 equal-width columns. */
  gap: 1.25em; /* Sets the gap between grid items to 1.25em. */
}

/* Join Us Section */

/* This styles the main container of the Join Us section. */
.join-us-panel {
  background-color: rgba(27, 31, 36, 1); /* Sets the background color to a darker slate grey. */
  color: var(--secondary-color); /* Sets the text color to the secondary color defined elsewhere in your CSS. */
  padding: 0.5em 1.25em 1em; /* Reduced padding */
  text-align: center; /* Centers the text horizontally. */
  font-size: 1.5em; /* Sets the font size to 1.5 times the base font size. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* This styles the links in the Join Us section. */
.join-us-panel a {
  text-decoration: none; /* Removes the underline from the links. */
}

/* This styles the grid that contains the categories in the Join Us section. */
.category-grid {
  display: grid; /* Makes the container a grid container. */
  grid-template-columns: repeat(4, 1fr); /* Creates a grid with 4 equal-width columns. */
  gap: 1.25em; /* Sets the gap between grid items to 1.25em. */
  flex-direction: column;
  align-items: center;
  gap: 1.25em; /* Sets the gap between items to 1.25em */
}

/* Style for the "JOIN US" text */
.join-us-panel h2 {
  font-family: 'HK Grotesk-Regular', sans-serif;
}

/* Style for the category links */
.category-link {
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
}

/* Media query for larger screens */
@media screen and (min-width: 601px) {
  .join-us-panel {
    padding: 0 0 30px 0 !important; /* Adjust the padding as needed */
  }
}

/* New media query for smaller screens */
@media screen and (max-width: 600px) {
  .join-us-panel {
    padding: 0 0 30px 0 !important; /* Adds 10px of padding to the bottom */
    height: auto; /* Sets the height to fit the content */
    font-size: 18px; /* adjust as needed */
  }

  .category-grid {
    grid-template-columns: 1fr; /* 1 column on smaller screens */
  }
}

/* Footer Section */

.block-link {
  display: block;
}

.footer-panel {
  position: relative;
  min-height: 1vh;
  padding: 5%;
  box-sizing: border-box;
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  max-height: 400px;
  background-size: 100% auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  line-height: 0.2; /* Adjust this value to decrease or increase line spacing */
}

.footer-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Change to 'cover' or remove this line */
  z-index: -1;
}

.info-container {
  background-color: rgba(27, 31, 36, 0.5);
  width: calc(50% - 10%);
  padding: 1.25em 2em;
  box-sizing: border-box;
  text-align: left;
  line-height: 1;
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .info-container {
    width: 100%;
    padding: 1.25em 0;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .footer-panel {
    padding: 5%;
  }

  .info-container{
    max-width: 99% !important;
    width: 99% !important;
    margin: auto;
  }
}

@media screen and (min-width: 601px) {
  .info-container {
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 600px) {
  .footer-panel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}


/* New media query for mobile devices */
@media screen and (max-width: 600px) {
  .footer-image {
    height: auto; /* Adjust as needed for mobile */
  }
}

.footer-logo {
  width: 100px !important; /* Adjust as needed */
  height: auto; /* Keeps the aspect ratio */
}

@media screen and (max-width: 600px) {
  .footer-logo {
    width: 50px !important; /* Adjust as needed */
  }
}

.info-container {
  background-color: rgba(27, 31, 36, 0.5);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 0.625em;
  box-sizing: border-box;
  flex: 1;
  max-width: calc(50% - 20%);
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  color: #333;
}

.info-container .logo {
  width: 60px;
  height: 50px;
  flex-shrink: 0;
}

.logo-container {
  width: auto;
  height: auto;
}

.logo-container img {
  width: 10px;
  height: 10px;
  display: block;
}

/* Media query for larger screens */
@media screen and (min-width: 601px) {
  .logo-container img {
    width: 10px;
    height: 10px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .logo-container img {
    width: 10px;
    height: 10px;
  }
}

.info-container a{
  text-decoration: none;
}

.social-media-icons {
  display: flex;
  gap: 0.625em;
}

.social-media-icons img {
  width: 1.5em;
  height: 1.5em;
}






/*<-------- IMPRESSUM & OTHER PAGES -----------------*/

.header-impressum {
  background-image: url('media/best-summer-opera-program-europe.jpg');
  background-size: cover;
  position: relative;
  height: 400px; /* adjust this value as needed */
}

.header-employment {
  background-image: url('media/opera-singing-germany-theater-jobs.jpg');
  background-size: cover;
  position: relative;
  height: 50vh; /* adjust as needed */
  background-position: center 20%;
}

.background-image-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 110px;
  color: white;
  text-align: left;
  padding-bottom: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 0.95;
}

@media screen and (max-width: 600px) {
  .background-image-title {
    font-size: 50px; /* adjust as needed */
  }
}

h2 {
  font-family: 'Literata-Light', sans-serif; /* replace with your font */
  font-size: 20px; /* adjust as needed */
  padding-top: 50px;
  margin-top: 0; /* add this line */
}

.text-block {
  padding: 20px;
  padding-left: 40px; /* adjust as needed */
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .text-block {
    padding-left: 20px; /* adjust as needed */
  }
}


.text-block h2 {
  padding-left: 0;
}

main {
  background-color: black;
  color: white;
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  padding: 40px; /* adjust this value as needed */
}

main a {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none; /* optional, removes the underline */
}

.special-link {
  border: 1px solid white; /* adjust as needed */
  padding: 5px; /* adjust as needed */
  text-decoration: none; /* remove underline */
  color: white; /* adjust as needed */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.special-link:hover {
  transform: scale(1.1); /* adjust as needed */
  color: hotpink;
  border-color: hotpink;
}


.carousel {
  position: relative;
  overflow: hidden;
  padding: 2em 0 2em 0;
  margin-bottom: 0;
  background-color: rgb(0, 0, 0);
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
}

.carousel h2 {
  margin: 0 auto;
  font-family: 'HK Grotesk-ExtraLight', sans-serif;
  padding: 0 0 1rem 0;
  width: fit-content;
  font-size: 2rem;

}

  .carousel .forward, .carousel .backward, .forwardstaff, .backwardstaff {
    position: absolute;
    top: 50%;
    width: 6em;
    height: 12em;
    margin-top: -6em;
    cursor: pointer;
  }

    .carousel .forward:before, .carousel .backward:before, .forwardstaff:before, .backwardstaff:before {
      content: '';
      display: block;
      width: 6em;
      height: 6em;
      border-radius: 15px;
      background-color: rgba(72, 57, 73, 0.5);
      position: absolute;
      top: 50%;
      margin-top: -3em;
      -moz-transition: background-color 0.35s ease-in-out;
      -webkit-transition: background-color 0.35s ease-in-out;
      -o-transition: background-color 0.35s ease-in-out;
      -ms-transition: background-color 0.35s ease-in-out;
      transition: background-color 0.35s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .carousel .forward:after, .carousel .backward:after, .forwardstaff:after, .backwardstaff:after {
      content: '';
      width: 3em;
      height: 3em;
      position: absolute;
      top: 50%;
      margin: -1.5em 0 0 0;
      background: url("media/arrow.svg") no-repeat center center;
    }

    .carousel .forward:hover:before, .carousel .backward:hover:before, .forwardstaff:hover:before, .backwardstaff:hover:before {
      background-color: rgba(239, 131, 118, 0.75);
    }

  .carousel .forward, .forwardstaff {
    right: 0;
    border: none;
  }

    .carousel .forward:before, .forwardstaff:before {
      right: -3em;
    }

    .carousel .forward:after, .forwardstaff:after {
      right: -0.25em;
    }

  .carousel .backward, .backwardstaff {
    left: 0;
    border: none;
  }

    .carousel .backward:before, .backwardstaff:before {
      left: -3em;
    }

    .carousel .backward:after, .backwardstaff:after {
      left: -0.25em;
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1);
    }

  .carousel .reel {
    white-space: nowrap;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0 2em 0 2em;
  }

  .carousel article {
    display: inline-block;
    max-width: 18em;
    background: #000;
    text-align: center;
    vertical-align:top;
    padding: 0 1em 3em 1em;
    margin: 0 2em 0 0;
    white-space: normal;
    opacity: 1.0;
    -moz-transition: opacity 0.75s ease-in-out;
    -webkit-transition: opacity 0.75s ease-in-out;
    -ms-transition: opacity 0.75s ease-in-out;
    transition: opacity 0.75s ease-in-out;
  }

    .carousel article.loading {
      opacity: 0;
    }

    .carousel article .image {
      position: relative;
      left: -1em;
      top: 0;
      width: auto;
      margin-right: -2em;
      margin-bottom: 3em;
      vertical-align:top;
    }

    .carousel article img {
      border-radius: 15px;	
      object-fit: cover;
    }

    .carousel article p {
      text-align: center;
    }
  
.paypal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.paypal {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 1000;
  transition: color 0.3s ease;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow:hover {
  color: rgba(255, 255, 255, 0.8);
}